body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: $bg-main;
    color: $text-dark;
}

button, input, select, textarea {
    font-family: inherit;
}

.text-right { text-align: right; }
.d-flex { display: flex; }