$bg-main: #d9d9d9;          
$bg-header: #E2E2E2;        
$primary-purple: #575EA2;   
$white: #ffffff;

$text-dark: #1a1a1a;
$text-muted: #959595;
$text-light-gray: #757575;

$border-light: #b9b9b9;     
$border-subtle: #eeeeee;    
$gray-placeholder: #cccccc; 

$progress-bg: #c5c5c5;
$progress-fill: $primary-purple;

$status-total:#2D3748;
$status-spent: #E53E3E;
$status-remaining: #3182CE;

$input-bg: #e8e8e8;
$input-disabled: #f5f5f5;

$tag-blue: #3182CE;
$tag-red: #E53E3E;
$tag-purple: #7E3AF2;

$light-red: #FFF5F5;
$light-blue: #E2F2FF;
$light-purple: #F3E8FF;

$red-border: #FEB2B2;